<!DOCTYPE html">
<html lang="ko">

<head> 

<!--언어 타입-->
<meta content="text/html" charset="utf-8"> 

<!-- CSS -->
<link href="../../css/default.css" rel="stylesheet" />
<link href="../css/style.css" rel="stylesheet" />
<link href="../../css/slick.css" rel="stylesheet" type="text/css" >
<link href="../../css/slick-theme.css" rel="stylesheet" type="text/css" >
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">               
			   
<!-- 제이쿼리 -->
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="../../js/slick.min.js"></script>

</head>

<body>


<div class="left_menu">
	<div class="logo"><h1>부산대학교 교육기부 관리자</h1></div> <!-- logo -->
	<ul class="nav">
		<li><a href="#none"><img src="../img/left_menu_icon01.png">메인</a><span></span></li>
		<li><a href="#none"><img src="../img/left_menu_icon02.png">멘토스쿨관리</a><span></span></li>
		<li><a href="#none"><img src="../img/left_menu_icon03.png">문의사항</a><span></span></li>
		<li><a href="#none"><img src="../img/left_menu_icon04.png">통계</a><span></span></li>
		<li class="on"><a href="#none"><img src="../img/left_menu_icon05.png">회원관리</a><span></span></li>
		<li><a href="#none"><img src="../img/left_menu_icon06.png">환경설정</a><span></span></li>
	</ul> <!-- nav -->
</div> <!-- left_menu -->